body {
    background-color: lightblue;
    color: black;
    text-align: center;
}

#img1 {
    height: 300px;
    width: 400px;
}

#img2 {
    height: 100px;
    width: 100px;
}
#img3 {
    height: 100px;
    width: 100px;
}
#img4 {
    height: 100px;
    width: 100px;
}
#img5{
    height:300px;
    width:200px;
    padding-right:50px;
}
#img6{
    height:300px;
    width:200px;
    padding-left:50px;
 }
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}


.menu {
  overflow: hidden;
  background-color: #333;
}


.link a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:bold;
}


.link a:hover {
  background-color: dodgerblue;
}


img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}
